#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
RED="\033[0;31m"
NC="\033[0m" # No Color

{{ if eq .chezmoi.os "linux" -}}
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
{{ else if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end -}}

# Check if Neovim is installed
if ! command -v nvim >/dev/null 2>&1; then
  printf "\n${RED}Neovim is not installed. Please install it first.${NC}\n\n"
  exit 1
fi

# Target directory for NvChad
NVIM_CONFIG_DIR="${HOME}/.config/nvim"

# If NvChad is not already installed, clone it
if [ ! -d "$NVIM_CONFIG_DIR" ]; then
  printf "\n${GREEN}Installing NvChad...${NC}\n\n"
  git clone https://github.com/NvChad/starter "$NVIM_CONFIG_DIR"
else
  printf "\n${GREEN}NvChad is already installed in ${NVIM_CONFIG_DIR} ${NC}\n\n"
fi
