#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
RED="\033[0;31m"
NC="\033[0m" # No Color

{{ if eq .chezmoi.os "linux" -}}

# APT
if command -v apt-get >/dev/null 2>&1 && [ {{ len .packages.linux.apt }} -gt 0 ]; then
  printf "\n%sInstalling some system packages...%s\n\n" "$GREEN" "$NC"
  sudo apt-get update -y
  xargs -r sudo apt-get install -y <<'EOF'
{{- range .packages.linux.apt }}
{{ . }}
{{- end }}
EOF
fi

{{ end }}
