#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
NC="\033[0m" # No Color

# Check if VS Code is installed
if command -v code >/dev/null 2>&1; then
  echo -e "\n${GREEN}Installing VS Code extensions...${NC}\n"
  while read -r ext; do
    if ! code --list-extensions | grep -qx "$ext"; then
      code --install-extension "$ext"
    fi
  done < {{ .chezmoi.sourceDir }}/vscode-extensions.txt
fi
