#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
RED="\033[0;31m"
NC="\033[0m" # No Color

export HOMEBREW_INSTALL_FROM_API=1
export HOMEBREW_DOWNLOAD_CONCURRENCY=auto

{{ if eq .chezmoi.os "linux" -}}
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
{{ else if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end -}}

# Homebrew/Linuxbrew
{{- with index .packages "posix" }}
  {{- if gt (len .brew) 0 }}
if command -v brew >/dev/null 2>&1; then
  printf "\n%sInstalling Homebrew packages...%s\n\n" "$GREEN" "$NC"
  brew bundle --file=/dev/stdin <<'EOF'
    {{- range .brew }}
brew {{ . | quote }}
    {{- end }}
EOF
fi
  {{- end }}
{{- end }}