#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "linux" -}}
set -euo pipefail

# APT (если что-то указано)
if command -v apt-get >/dev/null 2>&1 && [ {{ len .packages.linux.apt }} -gt 0 ]; then
  sudo apt-get update -y
  xargs -r sudo apt-get install -y <<EOF
{{- range .packages.linux.apt }}
{{ . }}
{{- end }}
EOF
fi
{{ end }}
