#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
RED="\033[0;31m"
NC="\033[0m" # No Color

# Check if zsh is installed
if ! command -v zsh >/dev/null 2>&1; then
    printf "\n%sZsh is not installed. Please install zsh and try again.%s\n\n" "$RED" "$NC"
    exit 1
fi

# Check if zinit is already installed
if [ ! -d "${HOME}/.zinit/bin" ]; then
    printf "\n%sInstalling zinit...%s\n\n" "$GREEN" "$NC"
    # Run the official zinit install script
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/zdharma-continuum/zinit/main/scripts/install.sh)"
else
    printf "\n%szinit is already installed — skipping%s\n\n" "$GREEN" "$NC"
fi
