#!{{ lookPath "sh" }}

# set -euo pipefail

# Colors
GREEN="\033[0;32m"
RED="\033[0;31m"
NC="\033[0m" # No Color

# Check if brew is already installed
if ! command -v brew >/dev/null 2>&1; then
    echo "\n${GREEN}Installing Homebrew (Linuxbrew)...${NC}\n"

    # Install Homebrew using the official Linux install script
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    # Add brew to PATH for current session
    echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> "$HOME/.profile"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

else
    echo "\n${GREEN}Homebrew is already installed — skipping${NC}\n"
fi
