[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  lg = log --oneline --decorate --graph --all

[core]
  editor = {{ default "nvim" .editor | quote }}
