[user]
  name = {{ .git.name }}
  email = {{ .git.email }}

[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  lg = log --oneline --decorate --graph --all

[core]
  editor = {{ .git.editor | default "nvim" }}
