[user]
    name = {{ env "GIT_NAME" | default "nexus" | quote }}
    email = {{ env "GIT_EMAIL" | default "nexus@pop-os.local" | quote }}

[core]
    editor = {{ env "GIT_EDITOR" | default "nano" | quote }}

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    lg = log --oneline --decorate --graph --all
