# OS specific
{{- if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/zsh
macos-titlebar-style = tabs
macos-option-as-alt = true
mouse-hide-while-typing = true
command = /opt/homebrew/bin/zsh
{{- else if eq .chezmoi.os "linux" }}
command = /usr/bin/zsh
{{- end }}
{{- template "ghostty/config" . -}}